<!--this is head section-->
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=35888230" charset="UTF-8"></script>
<script src="../../js/base.js"></script>
<script src="../../js/loading.js"></script>
<script src="../../js/share.js"></script>
<script>
	endgame.share.set({
		"imgUrl" : "http://end.baidu.com/games/parkinger/logo.png", //分享的logo
		"timeLineLink" : "http://end.baidu.com/games/parkinger", //页面链接
		"tTitle" : "泊车高手",
		"tContent" : "泊车高手,无硬的不游戏"
	}); 
</script>